language: java
sudo: false
install: true

addons:
  sonarcloud:
    organization: "sadv1r-github"
    token:
      secure: ${SONAR_TOKEN}

jdk:
  - oraclejdk8

script: mvn clean package sonar:sonar

cache:
  directories:
    - $HOME/.m2
    - $HOME/.sonar/cache